#btn-box{
    background-color: white;
    border-radius: 80px;
    height: 41px;
    padding: 1px;
    margin: 1px;
}

#btn-btn{
    font-size: 13px; 
    font-weight: bold;
}

#btn-btn-log{
    color: black;
    position: relative;
    width: max-content;
    font-size: 13px; 
    font-weight: bold;
}

#btn-btn-log:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 31px;
    bottom: 0px;
    transition: 0.2s;
}

#btn-btn-log:hover:after{
    width: 46%;
}

#btn-box:hover{
    background-color: black;
    color: white;
}

a{
    color: white;
}

a:hover{
    color: white;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-izq {
    width: 75%;
    margin-right: auto;
}

#profile-container {
    display: flex;
    align-items: center;
}

#profile-der {
    margin-left: auto;
}

.jw-album-image img, .jw-element-image img { pointer-events: none; -webkit-touch-callout: none; }
.pswp__share-tooltip .pswp__share--download { display: none; }