@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

/*Estilos de el cuerpo de la pagina*/
body {
    background-color: rgb(240, 240, 255);
    width: 98.04%;
}

video {
    position: absolute;
    height: 100vw;
    width: 100vw;
    margin-top: -59vw;
    right: 0;
    z-index: -1;
}

#texto {
    z-index: 90;
    margin-top: 400px;
    text-align: center;
    font-weight: 800px;
    font-size: 72px;
    color: #ffc107;
    text-shadow: #000;
    font-family: 'Rubik', sans-serif;
}


/*Estilos de las cartas*/
#baile, #catering {
    background-size: cover;
    background-position: center
}

.card {
    margin-top: 300px;
    margin-left: 50px;
    color: #fff;
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform .5s
}

#coche {
    background-image: url(../../Images/cartas/citroen.jpg);
    background-size: cover
}

#catering {
    background-image: url(../../Images/cartas/catering.jpg);
}

#baile {
    background-image: url(../../Images/cartas/baile.jpg)
}

.card:focus-within .card-content, .card:hover .card-content {
    transform: translateY(0);
    transition-delay: 0.5s
}

.card:focus-within .card-content {
    transition-duration: 0s
}

.card-content>:not(.card-title) {
    opacity: 0;
    transition: opacity .5s linear
}

.card:focus-within .card-content>:not(.card-title), .card:hover .card-content>:not(.card-title) {
    opacity: 1;
    transition-delay: 550ms
}

.card:focus-within, .card:hover {
    transform: scale(1.05)
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% /0), hsl(0 0% 0% / .2) 10%, hsl(0 0% 0% / 1));
    transform: translateY(71%);
    transition: transform .5s
}

.card-title {
    position: relative;
    width: max-content
}

.card-title::after {
    content: "";
    position: absolute;
    height: 3px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background-color: #ffc107;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s
}

.card:focus-within .card-title::after, .card:hover .card-title::after {
    transform: scaleX(1)
}

.card-body {
    color: rgb(255, 255, 255 / .85)
}

.button, .card .button {
    text-decoration: none;
    color: #000
}

.button {
    cursor: pointer;
    display: inline;
    background-color: #ffc107;
    padding: .5em 1.25em;
    border-radius: .25em
}

.card:hover .card-title::after {
    transform: scaleX(1)
}

.button:focus, .button:hover {
    background-color: #bd9315
}

.card:hover .card-content {
    transform: translateY(0);
    transition: transform .5s
}


#copyright {
    text-align: center;
}

.container-card {
    justify-content: center;
    align-items: center;
}

.jw-album-image img, .jw-element-image img {
    pointer-events: none;
    -webkit-touch-callout: none;
}

.pswp__share-tooltip .pswp__share--download {
    display: none;
}

#btn-box {
    background-color: white;
    border-radius: 80px;
    height: 41px;
    padding: 1px;
    margin: 1px;
}

#btn-btn {
    font-size: 15px;
    font-weight: bold;
    border: none;
}

#btn-btn-log {
    color: black;
    position: relative;
    width: max-content;
    font-size: 13px;
    font-weight: bold;
}

#btn-btn-log:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 31px;
    bottom: 0px;
    transition: 0.2s;
}

#btn-btn-log:hover:after {
    width: 46%;
}

#btn-box:hover {
    background-color: black;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: white;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-izq {
    width: 75%;
    margin-right: auto;
}

#profile-container {
    display: flex;
    align-items: center;
}

#profile-der {
    margin-left: auto;
}

.jw-album-image img, .jw-element-image img {
    pointer-events: none;
    -webkit-touch-callout: none;
}

.pswp__share-tooltip .pswp__share--download {
    display: none;
}

.back-to-top {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 500ms;
    border: none;
    background-color: black;
}

.back-to-top:hover {
    opacity: 60%;
}

.hidden {
    opacity: 0%;
}


/*Estilos para el flotante de las cookies*/
#declineBtn:hover, .buttons #acceptBtn:hover {
    background-color: #333a40
}

.wrapper {
    position: fixed;
    bottom: 50px;
    right: -370px;
    max-width: 345px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: right .3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    z-index: 20
}

.wrapper.show {
    right: 20px
}

.wrapper header {
    display: flex;
    align-items: center;
    column-gap: 15px
}

header i {
    color: #333a40;
    font-size: 32px
}

header h2 {
    color: #333a40;
    font-weight: 500
}

.wrapper .data {
    margin-top: 16px
}

.wrapper .data p {
    color: #333;
    font-size: 16px
}

.data p a {
    color: #00f;
    text-decoration: none
}

.data p a:hover {
    text-decoration: underline
}

.wrapper .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.buttons .button {
    border: none;
    color: #fff;
    padding: 8px 0;
    border-radius: 4px;
    background: #ffc107;
    cursor: pointer;
    width: calc(100% / 2 - 10px);
    transition: .2s
}

#declineBtn {
    border: 2px solid #333a40;
    background-color: #fff;
    color: #333a40
}

#declineBtn:hover {
    color: #fff
}


/*Estilos para el pie de pagina*/
.page-content {
    min-height: calc(100vh - 60px);
    padding-bottom: 60px
}

#pie-pagina {
    padding: 10px;
    bottom: 0;
    width: 102%
}

.jw-album-image img, .jw-element-image img {
    pointer-events: none;
    -webkit-touch-callout: none
}

.pswp__share-tooltip .pswp__share--download {
    display: none
}

#ubi{
    cursor: pointer;
}

@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap);#loader{z-index: 110;position:absolute;top:0;left:0;background:#000;backdrop-filter:blur(10px);box-shadow:0 0 20px rgba(0,0,0,.5);height:100%;width:100%;display:flex;flex-direction:column;gap:1.5rem;align-items:center;justify-content:center;color:#191654}#svg{height:325px;width:325px;stroke:#ffc107;fill-opacity:0;stroke-width:1.5px;stroke-dasharray:4500;animation:1.5s ease-in-out infinite draw}@keyframes draw{from{stroke-dashoffset:4500}to{stroke-dashoffset:4000}}.name-container{height:30px;overflow:hidden;font-family:Rubik,sans-serif}.logo-name{color:#ffc107;font-size:30px;letter-spacing:12px;text-transform:uppercase;margin-left:20px;font-weight:bolder}