body {
    background-color: rgb(235, 235, 255);
}

iframe {
    width: 100%;
}



/*Estilos para el pie de pagina*/
.page-content {
    min-height: calc(100vh - 60px);
    padding-bottom: 60px;
}

#pie-pagina {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}