@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

/*Estilos de el cuerpo de la pagina*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Adjust the min-height based on your needs */
    margin: 0;
    width: 98%;
}

/* body {
    background-color: rgb(240, 240, 255);
    width: 98.04%;
} */

/* Estilos del filtro de los servicios */
.cont_filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.izquierda label {
    display: block;
    margin-bottom: 5px;
}

.datos-derecha {
    flex: 2;
    /* Este valor puede ajustarse según tus necesidades */
    padding: 10px;
    border: 1px solid #ccc;
}
/* Fin de estilos de los servicios */

#copyright {
    text-align: center;
}

.jw-album-image img, .jw-element-image img {
    pointer-events: none;
    -webkit-touch-callout: none;
}

.pswp__share-tooltip .pswp__share--download {
    display: none;
}

#btn-box {
    background-color: white;
    border-radius: 80px;
    height: 41px;
    padding: 1px;
    margin: 1px;
}

#btn-btn {
    font-size: 15px;
    font-weight: bold;
    border: none;
}

#btn-btn-log {
    color: black;
    position: relative;
    width: max-content;
    font-size: 13px;
    font-weight: bold;
}

#btn-btn-log:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 31px;
    bottom: 0px;
    transition: 0.2s;
}

#btn-btn-log:hover:after {
    width: 46%;
}

#btn-box:hover {
    background-color: black;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: white;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-izq {
    width: 75%;
    margin-right: auto;
}

#profile-container {
    display: flex;
    align-items: center;
}

#profile-der {
    margin-left: auto;
}

.jw-album-image img, .jw-element-image img {
    pointer-events: none;
    -webkit-touch-callout: none;
}

.pswp__share-tooltip .pswp__share--download {
    display: none;
}

.back-to-top {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 500ms;
    border: none;
    background-color: black;
}

.back-to-top:hover {
    opacity: 60%;
}

.hidden {
    opacity: 0%;
}

/*Estilos para el pie de pagina*/
.page-content{min-height:calc(100vh - 60px);padding-bottom:60px}#pie-pagina{padding:10px;bottom:0;width:102%}.jw-album-image img,.jw-element-image img{pointer-events:none;-webkit-touch-callout:none}.pswp__share-tooltip .pswp__share--download{display:none}#ubi{cursor:pointer}